PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=nexus
DB_PASSWORD=nexus
DB_NAME=nexus

REDIS_HOST=localhost
REDIS_PORT=6380

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

BETTER_AUTH_SECRET=change-me-to-a-random-32-char-string
BETTER_AUTH_URL=http://localhost:3000
WEB_ORIGIN=http://localhost:5173

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-client-secret
